body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

#main {
  display: flex;
  justify-content: space-evenly;
}

#player1BoardContainer, #player2BoardContainer {
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 1/1;
}

.boardRowDiv {
  display: flex;
  width: 100%;
}

.cellDiv {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#player2BoardContainer .cellDiv:hover {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
}

.borderRed {
  border: 3px solid red;
}

.borderBlack {
  border: 3px solid black;
  color: white;
}